In [1]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/Cellar/jupyterlab/4.0.9_2/libexec/lib/python3.12/site-packages (2.9.9)

In [2]:
from psycopg2 import connect as connect


# функция проверки подключения к БД
def _get_db_session():
    try:
        conn = connect(
            dbname='admin',
            user='admin',
            password='admin',
            host='0.0.0.0',
            port=5432)
        print("\nСоединение с БД установлено", conn, "\n")
        return conn
    except Exception as e:
        print('БД не доступна. Проверьте Docker', e)
        return False


# функция выполнения запроса к БД c получением ответа
def query_get(conn, query: str) -> dict:
    with conn.cursor() as curs:
        curs.execute(query)
        result = curs.fetchall()
        return result


# функция выполнения запроса к БД не предполагающая получения ответа
def query_set(conn, query: str):
    with conn.cursor() as curs:
        curs.execute(query)
        conn.commit()
        print(f"выполнен запрос к БД: '{query}' \n")


# проверкв подключения к БД
dbconnect = _get_db_session()
if dbconnect is False:
    print("БД не подключена. Программа завершена")
else:
    conn = dbconnect

    # # создание таблицы в БД (если не существует)
    # query_create_table = """create table if not exists books(
    #     id int primary key,
    #     title varchar(50) not null,
    #     author varchar(50) not null,
    #     price decimal(15,2),
    #     edition smallint default 1 not null,
    #     page_num smallint,
    #     publish_year smallint,
    #     creation_date timestamp);"""
    # query_set(conn, query_create_table)

    # создание таблицы users в БД (если не существует)
    query_create_table = """create table if not exists users(
            id serial primary key,
            name varchar not null,
            age int,
            gender varchar,
            nationality varchar);"""
    query_set(conn, query_create_table)

    # получение всех записей из таблицы users
    query_read_table = """SELECT * FROM users"""
    result_query = query_get(conn, query_read_table)
    print(f"Выполнен следующий запрос к БД: '{query_read_table}'")
    print("Результат запроса: ", result_query)

    # добавление записей в таблицу users. Вариант №1
    query_add_table = """INSERT INTO users 
    (name, age, gender, nationality)
    VALUES
      ('James', 25, 'male', 'USA'),
      ('Leila', 32, 'female', 'France'),
      ('Brigitte', 35, 'female', 'England'),
      ('Mike', 40, 'male', 'Denmark'),
      ('Elizabeth', 21, 'female', 'Canada');"""
    query_set(conn, query_add_table)


    # выполнение произвольного запроса к БД на запись/изменение БД
    query_save = input("Введите запрос SQL на создание/изменение БД: ")
    try:
        query_set(conn, query_save)
    except Exception as e:
        print("запрос в БД не выполнен:", e)

    # выполнение произвольного запроса на получение данных из БД
    query_read = input("Введите запрос SQL на получение данных из БД: ")
    try:
        result = query_get(conn, query_read)
        print(result)
    except Exception as e:
        print("запрос в БД не выполнен:", e)

    # закрытие подключения к БД
    conn.close()
    print("программа завершена")

Соединение с БД установлено <connection object at 0x104daa260; dsn: 'user=admin password=xxx dbname=admin host=0.0.0.0 port=5432', closed: 0>

выполнен запрос к БД: 'create table if not exists users(
            id serial primary key,
            name varchar not null,
            age int,
            gender varchar,
            nationality varchar);'

Выполнен следующий запрос к БД: 'SELECT * FROM users'
Результат запроса:  [(1, 'James', 25, 'male', 'USA'), (2, 'Leila', 32, 'female', 'France'), (3, 'Brigitte', 35, 'female', 'England'), (4, 'Mike', 40, 'male', 'Denmark'), (5, 'Elizabeth', 21, 'female', 'Canada'), (6, 'James', 25, 'male', 'USA'), (7, 'Leila', 32, 'female', 'France'), (8, 'Brigitte', 35, 'female', 'England'), (9, 'Mike', 40, 'male', 'Denmark'), (10, 'Elizabeth', 21, 'female', 'Canada'), (11, 'James', 25, 'male', 'USA'), (12, 'Leila', 32, 'female', 'France'), (13, 'Brigitte', 35, 'female', 'England'), (14, 'Mike', 40, 'male', 'Denmark'), (15, 'Elizabeth', 21, 'female', 'Canada'), (16, 'James', 25, 'male', 'USA'), (17, 'Leila', 32, 'female', 'France'), (18, 'Brigitte', 35, 'female', 'England'), (19, 'Mike', 40, 'male', 'Denmark'), (20, 'Elizabeth', 21, 'female', 'Canada')]
выполнен запрос к БД: 'INSERT INTO users
    (name, age, gender, nationality)
    VALUES
      ('James', 25, 'male', 'USA'),
      ('Leila', 32, 'female', 'France'),
      ('Brigitte', 35, 'female', 'England'),
      ('Mike', 40, 'male', 'Denmark'),
      ('Elizabeth', 21, 'female', 'Canada');'

Введите запрос SQL на создание/изменение БД:

запрос в БД не выполнен: can't execute an empty query

Введите запрос SQL на получение данных из БД:

запрос в БД не выполнен: can't execute an empty query
программа завершена